In [1]:
%cd D:\Project\Toolkit_for_Preprocessing_MXH\viHSD_tokenize

D:\Project\Toolkit_for_Preprocessing_MXH\viHSD_tokenize

c:\Users\ndp17\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.options.display.max_rows

In [3]:
path_train =  (r'Data\Raw\train.csv')
path_dev =    (r'Data\Raw\dev.csv')
path_test  =  (r'Data\Raw\test.csv')
path_csv = path_test

In [4]:
data = pd.read_csv(path_csv, encoding = 'utf-8')

data.head()

,free_text,label_id
0,Đừng cố biện minh =)))) choi lon,0
1,Haizz. Nthe này thì dân khổ quá,1
2,the nay ma chi phat gay roi trat tu cong cong thoi a dung la dan minh,0
3,Mua cho em hộp bcs mĩ sài cho oai :)),0
4,coin card :3,1

In [13]:
from Code.Preprocessing import unicode, dupplicate_punctuation, deleteIcon, to_category_vector
import pandas as pd
import numpy as np

classes = ['0', '1', '2']

def load_data(path_csv):
    data = pd.read_csv(path_csv, encoding = 'utf-8')
    data = data.applymap(str)
    # Apply the replacement function to the 'content' column
    data['Sentence'] = data['free_text'].apply(unicode)
    data['Sentence'] = data['Sentence'].apply(lambda row: dupplicate_punctuation(row)[0])
    data['Text'] = data['Sentence'].apply(deleteIcon)
    data['Tag'] = data['label_id'].apply(lambda x: to_category_vector(x, classes))
    data = data[['Text', 'Tag']]

    return data

In [14]:
test = load_data(path_test)
train = load_data(path_train)
dev = load_data(path_dev)

test.head()

C:\Users\ndp17\AppData\Local\Temp\ipykernel_9356\1653465068.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
C:\Users\ndp17\AppData\Local\Temp\ipykernel_9356\1653465068.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
C:\Users\ndp17\AppData\Local\Temp\ipykernel_9356\1653465068.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)

,Text,Tag
0,đừng cố biện minh choi lon,"[1.0, 0.0, 0.0]"
1,haizz. nthe này thì dân khổ quá,"[0.0, 1.0, 0.0]"
2,the nay ma chi phat gay roi trat tu cong cong thoi a dung la dan minh,"[1.0, 0.0, 0.0]"
3,mua cho em hộp bcs mĩ sài cho oai,"[1.0, 0.0, 0.0]"
4,coin card,"[0.0, 1.0, 0.0]"

In [15]:
train.reset_index(inplace=True)
dev.reset_index(inplace=True)
test.reset_index(inplace=True)

test.head()

,index,Text,Tag
0,0,đừng cố biện minh choi lon,"[1.0, 0.0, 0.0]"
1,1,haizz. nthe này thì dân khổ quá,"[0.0, 1.0, 0.0]"
2,2,the nay ma chi phat gay roi trat tu cong cong thoi a dung la dan minh,"[1.0, 0.0, 0.0]"
3,3,mua cho em hộp bcs mĩ sài cho oai,"[1.0, 0.0, 0.0]"
4,4,coin card,"[0.0, 1.0, 0.0]"

In [16]:
train['sentence_id'] = train['index']
dev['sentence_id'] = dev['index']
test['sentence_id'] = test['index']
test.head()

,index,Text,Tag,sentence_id
0,0,đừng cố biện minh choi lon,"[1.0, 0.0, 0.0]",0
1,1,haizz. nthe này thì dân khổ quá,"[0.0, 1.0, 0.0]",1
2,2,the nay ma chi phat gay roi trat tu cong cong thoi a dung la dan minh,"[1.0, 0.0, 0.0]",2
3,3,mua cho em hộp bcs mĩ sài cho oai,"[1.0, 0.0, 0.0]",3
4,4,coin card,"[0.0, 1.0, 0.0]",4

In [17]:
import os
folder_path = "Data"
if not os.path.exists(folder_path):
    # Create the folder if it doesn't exist
    os.makedirs(folder_path)

train.to_csv(os.path.join(folder_path, "train.csv"), index=False)
dev.to_csv(os.path.join(folder_path, "dev.csv"), index=False)
test.to_csv(os.path.join(folder_path, "test.csv"), index=False)